---
title: useless random color buttons
seoDescription: Useless random color buttons. A static HTML page, built with Tailwind CSS, and hosted on Netlify.

jsModule: /js/game.js
---

<section class="p-3 text-center">
  <ul class="grid grid-cols-3 md:grid-cols-6 gap-8">
    <li>
      <span class="block">created</span>
      <b id="stats-created" class="text-2xl">0</b>
    </li>
    <li>
      <span class="block">clicked</span>
      <b id="stats-clicked" class="text-2xl">0</b>
    </li>
    <li>
      <span class="block">remaining</span>
      <b id="stats-remaining" class="text-2xl">0</b>
    </li>
    <li>
      <span class="block">elapsed</span>
      <b id="stats-elapsed" class="text-2xl">00:00:00</b>
    </li>
    <li>
      <span class="block">avg bcps</span>
      <b id="stats-avg-cps" class="text-2xl">0</b>
    </li>
    <li>
      <span class="block">max bcps</span>
      <b id="stats-max-cps" class="text-2xl">0</b>
    </li>
  </ul>
</section>

<section id="win-section" class="hidden">
  <p class="text-center text-4xl">You Won!</p>
</section>
