<!doctype html>
<html lang="en">
<head>
  {# Required meta tags #}
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  {# SEO #}
  <title>{{ seoTitle or title }}</title>
  <meta name="description" content="{{ seoDescription }}">
  <link rel="canonical" href="{{ site.url }}{{ canonicalUrl or page.url }}">

  <meta name="theme-color" content="#000000">

  {# Google Fonts #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
  
  {# Tailwind Site CSS #}
  <link href="/css/output.css" rel="stylesheet">

  {# Icons, manifest, theme #}
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="theme-color" content="#000000">

  {# Web Analytics  #}
  {% if site.isProduction %}
    {% include "blocks/common/web-analytics.njk" %}
  {% endif %}
</head>
<body class="antialiased bg-blue-800 h-screen select-none text-white touch-manipulation">

  {{ content | safe }}

  <script type="module" src="{{ jsModule }}"></script>

  <script>
    // Register service worker
    if ("serviceWorker" in navigator) {
      window.addEventListener("load", () => {
        navigator.serviceWorker.register("/sw.js");
      });
    }
  </script>

</body>
</html>