---
title: useless random color buttons
seoDescription: Useless random color buttons. A static HTML page, built with Tailwind CSS, and hosted on Netlify.

jsModule: /js/settings.js
---

<main id="config-section" class="flex h-full items-center justify-center p-4 text-xl">
  <div class="space-y-6">

    <label class="block">
      <span>start with</span>
      <input type="number" class="number-input" id="settings-initial" min="0" value="100" />
      <span>buttons</span>
    </label>

    <label class="block">
      <span>get a new button every</span>
      <input type="number" class="number-input" id="settings-delay" min="0" value="1000" />
      <!-- <span>milliseconds</span> -->
      <span>ms</span>
    </label>

    <label class="flex gap-x-2 items-center">
      {# <input type="checkbox" class="radio-input" id="settings-win-on-zero-buttons" name="game-mode" checked /> #}
      <input type="checkbox" class="" id="settings-win-on-zero-buttons" name="game-mode" checked />
      <span>win when no buttons remain on screen</span>
    </label>
    {# <label class="flex gap-x-2 items-center">
      <input type="radio" class="radio-input" id="settings-win-on-zero-buttons" name="game-mode" checked />
      <span>win when no buttons remain on screen</span>
    </label>
    <label class="flex gap-x-2 items-center">
      <input type="radio" class="radio-input" id="settings-keep-playing" name="game-mode" />
      <span>keep playing (forever?)</span>
    </label> #}
      
    <ul class="grid grid-cols-3 gap-4">
      <li>
        <button id="settings-ok" class="bg-yellow-400 color-button text-black">ok</button>
      </li>
      <li>
        <button id="settings-cancel" class="bg-gray-400 color-button text-black">cancel</button>
      </li>
      <li>
        <button id="settings-reset" class="bg-gray-400 color-button text-black">reset</button>
      </li>
    </ul>
  </div>
</main>
